$main-color: #c10102;

$containerWidth: 1138px;

$backgroundColor: #eff0f2;

$markColor: #b2f2ee;

$textColor: #505050;

$headerColor: #323333;

$subheaderColor: #848585;

$footerColor: #262b2e;

// Extra Small tablets
$screen-xsm-min: 320px + 1;

// Small tablets and large smartphones
$screen-sm-min: 576px + 1;

// Small tablets (portrait view)
$screen-md-min: 768px + 1;

// Tablets and small desktops
$screen-lg-min: 992px + 1;

// Large tablets and desktops
$screen-xl-min: 1138px + 1;
