.contacts {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 690px;
    background: #fafbfc url("../img/contacts_background.jpg") top center/cover no-repeat;
    @include lg {
        padding-top: 105px;
        padding-bottom: 120px;
    }
    &__wrapper {
        @include md {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        @include lg {
            justify-content: space-between;
        }
    }

    &__form {
        flex: 0 0 47%;
        padding: 23px 30px 38px 30px;
        margin: 0 10px 40px 10px;

        @include md {
            margin-bottom: 0;
        }

        @include containerMedia {
            flex: 0 0 613px;
            margin: 0;
        }

        input {
            display: block;
            font-family: "Raleway", sans-serif;
            font-size: 15px;
            color: #c0c6c9;
            padding: 0 5px;
            width: 100%;
            height: 57px;
            background-color: rgba($color: #fff, $alpha: 0);
            border: none;
            border-bottom: 1px solid #6e7981;
            outline: none;
            &::placeholder {
                color: #c0c6c9;
            }
        }
        textarea {
            display: block;
            font-family: "Raleway", sans-serif;
            outline: none;
            font-size: 15px;
            color: #c0c6c9;
            padding: 32px 5px;
            width: 100%;
            height: 135px;
            background-color: rgba($color: #fff, $alpha: 0);
            border: none;
            resize: none;
            border-bottom: 1px solid #6e7981;
            &::placeholder {
                color: #c0c6c9;
            }
        }
        button {
            margin-top: 38px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 2px;
            width: 100%;
            height: 53px;
            background-color: #6eeee4;
            border-radius: 2px;
            cursor: pointer;
            border: none;
            color: #2e6b66;
            transition: all 0.3s ease-in-out;
            &:hover {
                background-color: #fff;
            }
            @include containerMedia {
                width: 244px;
            }
        }
    }

    &__info {
        flex: 0 0 47%;
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        color: #c0c6c9;
        line-height: 24px;
        padding-bottom: 19px;
        text-align: center;
        margin: 0 10px 0 10px;
        @include containerMedia {
            text-align: left;
            flex: 0 0 500px;
            margin: 0;
        }
    }

    &__adress {
        padding: 31px 30px 19px 31px;
    }

    &__map {
        margin: 0 auto;
        background-color: #fff;
        width: 91%;
        height: 224px;
    }
}

#map iframe {
    width: 100%;
    height: 100%;
}

.bg-gray {
    background-color: rgba($color: #021623, $alpha: 0.71);
}
