.gallery {
    padding-bottom: 128px;
    margin-top: 115px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        width: 370px;
        height: 356px;
        margin-bottom: 14px;
        margin-right: 7px;
        margin-left: 7px;
        &:hover {
            cursor: pointer;
        }
        @include containerMedia {
            margin-right: 0px;
            margin-left: 0px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: scale(0.95);
        }
    }

    @include containerMedia {
        justify-content: space-between;
    }
}
