.title__header {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 1px;
    text-align: center;
    color: $headerColor;
    text-transform: uppercase;
}

.title__subheader {
    font-family: "Merriweather", serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
    color: $subheaderColor;
}
