@import "base/variables";
@import "base/devices";
@import "base/media";
@import "base/mixins";

:root {
    --base-font-size: 1rem;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    padding: 0 20px;
    @include lg {
        max-width: $containerWidth;
        padding: 0 20px;
        margin: 0 auto;
    }
    @include containerMedia {
        padding: 0;
    }
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/title";
@import "blocks/about";
@import "blocks/portfolio";
@import "blocks/gallery";
@import "blocks/team";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/popup";
