@import "base/variables";
@import "base/mixins";

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/title";
@import "blocks/about";
@import "blocks/portfolio";
@import "blocks/gallery";
@import "blocks/team";
@import "blocks/contacts";
@import "blocks/footer";
