@import "base/variables";
@import "base/devices";
@import "base/mixins";

/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    padding: 0 20px;

    // 576px window width and more
    @include sm {
        padding: 0 20px;
    }
    // 992px window width and more
    @include lg {
        max-width: $containerWidth;
        padding: 0 20px;
        margin: 0 auto;
    }
    //1138px and more
    @include containerMedia {
        padding: 0;
    }
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/title";
@import "blocks/about";
@import "blocks/portfolio";
@import "blocks/gallery";
@import "blocks/team";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/popup";
